AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu-access-key-id
AWS_SECRET_ACCESS_KEY=tu-secret-access-key
AWS_SESSION_TOKEN=
IMAGE_API_URL=https://qqgfg03g58.execute-api.us-east-1.amazonaws.com/prod/random-image
BEDROCK_MODEL_ID=anthropic.claude-3-5-haiku-20241022-v1:0
NVIDIA_API_KEY=nvapi-tu-api-key
NVIDIA_MODEL_ID=google/gemma-3n-e4b-it
